<div style="text-align:center">
  <h1>angular2Router-vs-uiRouter</h1>
  <h2>angular2Router</h2>
  <ul style="list-style-type:none">
      <li><a routerLink="/angular2Router">angular2Router</a> (Navigate by HTML routerLink)   </li> 
      <li><button (click)="goAngular2Router()">angular2Router</button> (Navigate by TS Route.navigate)</li>
  </ul>
  <h2>UIRouter</h2>
  <ul style="list-style-type:none">
      <li><a uiSref="uiRouter" uiSrefActive="active">uiRouter</a> (Navigate by HTML uiSref)</li>
      <li><button (click)="goUIRouter()">uiRouter</button> (Navigate by TS State.go)</li>
  </ul>
</div>
